.initials{
    color:red;
}
.t1{
    border-collapse:collapse;
    border-color:black;
    
}
table,td,th {
  border:2px solid black;
  border-collapse: collapse;
}
.box1{
    display:inline-grid;
    height: 100px;
    width: 100px;
    margin:5px;
    background-position:center;
}
